@{
    ViewBag.Title = "Home Page";
}
<style>
    body {
        background-image: url("background.jpg");
    }
</style>
<div class="jumbotron">
    <h1>Wine storehouse</h1>
    <p class="lead">Find your favourite wine!</p>
    <p><a href="@Url.Action("Index", "Wine")" class="btn btn-primary btn-lg">Go to wine list&raquo;</a></p>
</div>